.sidebarNavbar {
    position: absolute;
    right: 0 !important ;
     width: 300px !important;
     background-color: #DEB666 !important;
     height: 150vh  !important;
     z-index: 9999999999  !important;
     transition: all 0.5s ease-in-out;
}


 @media only screen and (min-width: 992px) {
    .sidebarNavbar{
        display: none !important;
       }
}


